<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->


    <title>edit</title>
</head>
<body>
<div>
    <form action="/edit" method="delete">
        <input type="text" name="nameOne">
        <button type="submit">delete</button>

    </form>

</div>


</body>
</html>